@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  background-color: #090118;
  color: white;
}


header {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 25px;
}
.pericia {
  color: #E0AAFE;
  font-weight: 600;
}

.feminicidio {
  color: #C67DFF;
  font-weight: 600;
}
.links {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  a {
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
}

li .agora {
  font-weight: 700;
}

.linha {
  color: rgba(255, 255, 255, 0.473);
}
.banner {
  background-image: url("./assets/imgs/banner.png");
}

.perfil {
  background: linear-gradient(90deg, #7B2BBE, #C67DFF);
  padding: 10px;
  border-radius: 50px;
}